mixin leaderboard()
    style.
        tbody tr:hover {
            background-color: #415A97;
        }
    .leaderboard
        .leaderboard__row.leaderboard__header
            div Позиция
            div Никнейм
            div Очки
        .leaderboard-js