.leaderboard {
    width: 90%;

    &__row {
        color: white;
        border-collapse: collapse;
        display: grid;
        grid-template-columns: 100px auto 100px;
        align-items: center;
        justify-items: center;
        height: 60px;
        width: 100%;
    }
    
    &__header {
        background-color: $border-color;
    }

    &__cell {
        background-color: $menu-button_color;
    }
}