.leaderboard {
    width: 90%;
    height: 420px;

    &__row {
        color: white;
        border-collapse: collapse;
        display: grid;
        grid-template-columns: 100px auto 100px;
        align-items: center;
        justify-items: center;
        height: 60px;
        width: 100%;

        &:hover, &:focus {
            position: relative;
            z-index: 1;
            box-shadow: 0 0 10px 0 $menu-item_color_hover inset, 0 0 10px 4px $menu-item_color_hover;
        }
    }
    
    &__header {
        background-color: $border-color;
    }

    &__cell {
        background-color: $menu-button_color;
    }

    &-js {}
}