.form-container
    include /pug-mixins/title/title.pug
    +title(title)
    form.form
        include /pug-mixins/form-item-container/form-item-container.pug
        +form-item-container('Логин', 'text')
        +form-item-container('Пароль', 'password')
        include /pug-mixins/button/button.pug
        +button('Войти', 'primary')
        p Войти через
        +button('', 'vk')
    include /pug-mixins/link/link.pug
    +link('Зарегистрироваться', 'signup', 'secondary')