.chat {
    background-color: $border-color;
    width: 80%;
    height: 80%;
    overflow: auto;
    transform: rotate(180deg);
    direction: rtl;

    @media all and (max-width: $screen-md) {
      width: 100%;
    }

  &__send {
    display: flex;
    align-items: center;
    position: relative;
    width: 80%;
    height: 70px;
    background-color: $border-color;
    border-top: 1px solid white;

    @media all and (max-width: $screen-md) {
      width: 100%;
    }
  }

  &__input {
    width: calc(100% - 90px);
    margin-left: 10px;
    padding-left: 10px;
    height: 50px;
    color: white;
    background-color: $menu_button_color;
    border: none;
    border-radius: $border-radius;
    font-size: 100%;
    overflow-y: auto;

    &:focus {
      box-shadow: 0 0 10px 0 $menu-item_color_hover inset, 0 0 10px 4px $menu-item_color_hover;
    }
  }

  &__button {
    position: absolute;
    left: calc(100% - 60px);
    width: 50px;
    height: 50px;
    background-image: url("./img/paper-plane.svg");
  }

  &__block {
    width: calc(100% - 20px);
    height: 50px;
    border-radius: $border-radius;
    background-color: $menu_button_color;
    border: 1px solid $menu_button_color;
    margin-top: 15px;
    transform: rotate(180deg);
    direction: ltr;
    color: white;

    &:hover {
      box-shadow: 0 0 10px 0 $menu-item_color_hover inset, 0 0 10px 4px $menu-item_color_hover;
    }

    &__author {
      font-weight: bold;
      margin: 1px 10px;
      color: gold;
    }

    &__message {
      margin: 1px 10px;
    }

  }

  &__messages {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

}