doctype html
html(lang="ru")
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width, height=device-height")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel='preconnect', href='//stormy-fjord-97392.herokuapp.com' crossorigin)
        link(rel='preconnect', href='wss://the-bang-chat.herokuapp.com/' crossorigin)
        title The Bang
    body
        main(id="root" class="container") Ну куда ты так спешишь? :(