.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 25%;
    min-width: $menu_min-width;
    font-family: $title_font-family;
    overflow-y: auto;

    @media screen and (max-width: $screen-md) {
        position: fixed;
        left: -$menu_min-width;
        background-color: #296c98;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #041125;
        height: 15%;
        width: 100%;
        color: white;

        @media screen and (max-width: $screen-md) {
            position: absolute;
            top: 0;
        }
    }

    &__logo {
        margin: 15px;
        width: $logo-size;
        height: $logo-size;
        background-image: url("./img/logo1.svg");
        background-size: cover;
    }

    &__nav {
        display: grid;
        grid-gap: 20px;
        justify-items: center;

        @media screen and (max-width: $screen-md) {
            height: 60%;
            overflow-y: auto;
        }

        &-info {
            display: grid;
            grid-gap: 20px;
            position: absolute;
            bottom: 10px;
            left: calc(50% - 125px);
            
            @media screen and (max-width: $screen-md) {
                position: unset;
            }

            @media (max-height: $screen-lg) {
                position: unset;
                margin-bottom: 20px;
            }
        }

    }

}

@media screen and (max-width: $screen-md) {
    .mobile-input:checked ~ .menu {
        display: flex;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        justify-content: center;
    }
}