a.menu__header(href='#')
    .menu__logo.rotate__slow-clockwise
    h1 TheBang!
nav.menu__nav
    case is_auth
        when true
            include /pug-mixins/menu-button/menu-button.pug
            +menu-button('Профиль', '/profile')
            +menu-button('Сингплеер', '/game')
            +menu-button('Мультиплеер', '/lobby')
            +menu-button('Таблица лидеров', '/leaders')
            +menu-button('Чат', '/chat')
            +menu-button('Авторы', '/authors')
            +menu-button('Выход', '/logout')
        when false
            include /pug-mixins/menu-button/menu-button.pug
            +menu-button('Авторизация', '/auth')
            +menu-button('Регистрация', '/signup')
            +menu-button('Сингплеер', '/game')
            +menu-button('Авторы', '/authors')
