a.menu__header(href='#')
    .menu__logo.rotate__slow-clockwise
    h1 TheBang!
nav.menu__nav
    case is_auth
        when true
            include /pug-mixins/link/link.pug
            +link('Профиль', '/profile')
            +link('Сингплеер', '/game')
            +link('Мультиплеер', '/lobby')
            +link('Таблица лидеров', '/leaders')
            +link('Чат', '/chat')
            +link('Авторы', '/authors')
            +link('Выход', '/logout')
        when false
            include /pug-mixins/link/link.pug
            +link('Авторизация', '/auth')
            +link('Регистрация', '/signup')
            +link('Сингплеер', '/game')
            +link('Авторы', '/authors')
