a.menu__header(href='#')
    .menu__logo.rotate__slow-clockwise
    h1 TheBang!
nav.menu__nav
    case is_auth
        when true
            include /pug-mixins/link/link.pug
            +link('Играть', '', 'menu')
            +link('Профиль', 'profile', 'menu')
            +link('Таблица лидеров', 'leaders', 'menu')
            +link('Авторы', 'authors', 'menu')
            +link('Чат', 'chat', 'menu')
            +link('Выход', 'logout', 'secondary')

        when false
            include /pug-mixins/link/link.pug
            +link('Авторизация', 'auth', 'menu')
            +link('Регистрация', 'signup', 'menu')
            +link('Авторы', 'authors', 'menu')
