a.menu__header(href='#')
    .menu__logo.rotate__slow-clockwise
    h1 TheBang!
nav.menu__nav
    case is_auth
        when true
            include /pug-mixins/link/link.pug
            +link('Профиль', 'profile', 'menu')
            +link('Сингплеер', 'game', 'menu')
            +link('Мультиплеер', 'online', 'menu')
            +link('Таблица лидеров', 'leaders', 'menu')
            +link('Чат', 'chat', 'menu')
            +link('Авторы', 'authors', 'menu')
            +link('Выход', 'logout', 'secondary')
            .menu__nav-info
                +link('Мы вконтакте', 'https://vk.com/public181466832', 'external')
                +link('Презентация', 'presentation', 'secondary')
                
        when false
            include /pug-mixins/link/link.pug
            +link('Авторизация', 'auth', 'menu')
            +link('Регистрация', 'signup', 'menu')
            +link('Сингплеер', 'game', 'menu')
            +link('Авторы', 'authors', 'menu')
            .menu__nav-info
                +link('Мы вконтакте', 'https://vk.com/public181466832', 'external')
                +link('Презентация', 'presentation', 'secondary')
