.container {
    display: flex;
    height: 100%;
    background-image: url("../src/pug-mixins/container/img/background.webp");
    background-size: cover;
    background-repeat: repeat;
    overflow-y: auto;
}