.container {
    display: flex;
    height: 100%;
    background-image: -webkit-gradient(linear, 100% 100%, 0% 0%,color-stop(1, rgba(0, 0, 0, 0.5)),color-stop(1, rgba(255, 255, 255, 0.5))), url("../src/pug-mixins/container/img/background.webp");
    background-size: cover;
    background-repeat: repeat;
    overflow-y: auto;

    // background: radial-gradient(51% 50%, rgba(255,255,255,0.00) 47%, rgba(249,249,249,0.50) 49%, rgba(228,228,228,0.50) 54%, rgba(0,0,0,0.50) 97%);
}