@import "../../../css/variable.scss";

.content {
    display: flex;
    flex-direction: column;
    padding: 80px 40px 40px 40px;
    align-items: center;
    width: 100%;
    background-color: $content_color;
    opacity: $content_opacity;
    overflow-y: auto;

    @media all and (max-width: $screen-md) {
        padding: 0;
    }
}