@font-face {
    font-family: Title;
    src: url(../fonts/10062.ttf);
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 0;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('../img/background.png');
    background-size: cover;
}

.form-container {
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    grid-gap: 10px;
    justify-items: center;
    padding: 25px 50px 25px 50px;
    background-color: rgb(33, 80, 119);
    border: 1px solid rgb(33, 48, 119);
    border-radius: 10px;
    opacity: 0.95;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 0;
    color: red;
    font-family: Title, Helvetica, cursive;
}

.input-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    position:  relative;
}

.input {
    font-size: 100%;
    margin-bottom: 20px;
    padding: 10px 10px 10px 50px;
    border: 1px solid rgb(33, 48, 119);
    border-radius: 10px;
    background-color: rgb(18, 44, 65);
    color: white;
}

.input-icon {
    position: absolute;
    margin-left: 20px;
    margin-top: -10px;
    color: white;
} 

.password-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.checkbox {
    -webkit-appearance: none;
    appearance: none;
}

.checkbox-label {
    display: flex;
    align-items: center;
}

.custom-checkbox {
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-radius: 3px;
}

.checkbox-label input:checked ~ .custom-checkbox {
    background-color: white;
}

.checkbox-label input:checked ~ .custom-checkbox::after {
    display: block;
}

.custom-checkbox::after {
    content: "";
    display: none;
    margin-left: 2px;
    width: 3px;
    height: 6px;
    border: solid rgb(18, 44, 65);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.text {
    color: white;
    margin-left: 10px;
}

.link {
    text-decoration: none;
}

.link-forget-password {
    color: white;
}

.link-forget-password:hover {
    text-decoration: underline;
}

.button {
    padding: 10px 30px 10px 30px;
    border: 1px solid rgb(33, 48, 119);
    border-radius: 10px;
    font-size: 100%;
    background-color: red;
    color: white;
    margin-bottom: 20px;
}

.button:hover {
   box-shadow: 0px 7px 16px 0px rgba(49, 50, 50, 0.72);
}

.link-page {
    display: flex;
    align-items: center;
    color: white;
    font-family: Title, Helvetica, cursive;
}

.link-page:hover {
    color: red;
}

@media screen and (max-width:600px) and (orientation: portrait) {
    .form-container {
        width: 100%;
        padding: 20px 0px 20px 0px;
    }
}

@media screen and (max-height: 400px) {
    .container {
        overflow-y: auto;
        align-items: flex-start;
    }
    .form-container {
        overflow-y: auto;
    }
}

