@import "pug-mixins/container/container.scss";
@import "pug-mixins/hidden/hidden.scss";

@font-face {
    font-family: Title;
    src: url(../fonts/AvenirNextCyr-Regular.woff) format('woff')
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Title, Helvetica, cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
}

button:active, button:focus {
    outline: none;
}
  
button::-moz-focus-inner {
    border: 0;
}
  
a:active, a:focus {
    outline: none;
}
  
a::-moz-focus-inner {
    border: 0;
}
  
a {
    text-decoration: none;
}