@import "../../../css/variable.scss";

.button {
    padding: 10px 30px 10px 30px;
    border: 1px solid $title_color_border;             
    border-radius: $border-radius;
    font-size: 100%;
    background-color: $title-color;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: $title_font-family;

    &:hover, &:focus {
        box-shadow: 0 0 10px 0 $title_color inset, 0 0 10px 4px $title_color;
    }
}