@import "../../../css/variable.scss";

.password {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    color: $menu-item_color;

    &__link {
        color: $menu-item_color;

        &:hover, &:focus {
            text-decoration: underline;
        }
    }
}