.form-container {
    min-width: 400px;
    display: grid;
    grid-template-rows: 80px auto 80px;
    grid-gap: 10px;
    justify-items: center;
    background-color: white;
    border-radius: $border-radius;
    box-shadow: $item_box-shadow;

    @media all and (max-width: $screen-md) {
        min-width: 320px;
        width: 100%;
        height: calc(100% - 100px);
        margin-top: 50px;
        border-radius: 0;
        overflow-y: auto;
    }
}