mixin right-board()
    .right-board-item.right-board-item-meteorits.rotate__half
    .right-board-item.right-board-item-planets
    .right-board-item.right-board-item-black-hole.rotate__slow-clockwise