.link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $button-width;
    height: $button-height;

    &-home {
        width: 40px;
        height: 40px;
        background-size: cover;
        background-image: url("../../../src/pug-mixins/link/img/home.svg");

        &:hover {
            background-image: url("../../../src/pug-mixins/link/img/home-hover.svg");
        }
    }
}