mixin slide2()
    h3 Команда
    .slide2
        .slide2__block
            .slide2__img
            p Антон фронтендер
        .slide2__block
            .slide2__img
            p Андрей бекендер
        .slide2__block
            .slide2__img
            p Лиза фронтендер
        .slide2__block
            .slide2__img
            p Руслан бекендер
        