mixin slide2()
    h3 Команда
    .slide2
        .slide2__block
            .slide2__img.slide2__img-Anton
            p Антон фронтендер
        .slide2__block
            .slide2__img.slide2__img-Andrey
            p Андрей бекендер
        .slide2__block
            .slide2__img.slide2__img-Liza
            p Лиза фронтендер
        .slide2__block
            .slide2__img.slide2__img-Ruslan
            p Руслан бекендер
        