mixin slide2()
    h3 Команда
    .slide2
        .slide2__block
            .slide2__img.slide2__img-Anton
            p Антон frontend
        .slide2__block
            .slide2__img.slide2__img-Andrey
            p Андрей backend
        .slide2__block
            .slide2__img.slide2__img-Liza
            p Лиза frontend
        .slide2__block
            .slide2__img.slide2__img-Ruslan
            p Руслан backend