include ../../pug-mixins/title/title.pug
+title(title)
include ../../pug-mixins/author/author.pug
+author('Цитульский Антон', 'https://github.com/AntonOcean')
+author('Щербакова Лиза', 'https://github.com/Liza-Shch')
+author('Андрей Баронский', 'https://github.com/Surfingbird')
+author('Руслан Шахаев', 'https://github.com/Ruslan2702')