@import "../../../css/variable.scss";

.mobile-burger {
    display: none;
    position: fixed;
    right: 10px;
    bottom: 10px;
    color: white;
    z-index: 3;
    opacity: 0;

    @media all and (max-width: $screen-md) {
        opacity: 1;
    }
}