.absolute.absolute-top
    include /pug-mixins/link/link.pug
    +link('Домой', '', 'secondary')
.frame
    .header
        .help Keys: &larr; &rarr; &uarr; &darr;
        div
            .diamond-count
            .block.diamond
    .game-container
        .space
        .board
        .space
    .footer
        .info
