.absolute.absolute-top
    include /pug-mixins/link/link.pug
    +link('Домой', '', 'secondary')
.frame
    .header
        .help Keys: &larr; &rarr; &uarr; &darr;
        .diamond-count
        .block.diamond
    .board
    .footer
        .info
