.form {
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    color: white;
    font-size: 100%;
    width: $form-item_width;

    &__message {
        display: flex;
        align-items: center;
        text-align: center;
        height: 50px;
    }
}