mixin slide5()
    h2 Фичи
    p.fragment.grow.highlight-current-red RealTime
    p.fragment.grow.highlight-current-red Редактирование и удаление сообщений в чате
    p.fragment.grow.highlight-current-red Переключение музыки