mixin slide5()
    h2 Фичи
    p.fragment.grow.highlight-current-red RealTime
    p.fragment.grow.highlight-current-red Процедурная генерация карты
    p.fragment.grow.highlight-current-red Упрваление голосом
    p.fragment.grow.highlight-current-red Музыка
    p.fragment.grow.highlight-current-red Авторизация через вк