.form-container
    include ../../pug-mixins/title/title.pug
    +title(title)
    form.form(autocomplete='off')
        include ../../pug-mixins/form-item/form-item.pug
        +form-item('Логин', 'text')
        +form-item('Никнейм', 'text')
        +form-item('Пароль', 'password')
        +form-item('Повторите пароль', 'password-repeat')
        include ../../pug-mixins/button/button.pug
        +button('Зарегистрироваться')
    include ../../pug-mixins/link/link.pug
    +link('Войти', 'auth')