.container {
    display: flex;
    height: 100%;
    background-image: url("../src/blocks/container/img/background.png");
    background-size: cover;
    background-repeat: repeat;
    overflow-y: auto;
}