@import "src/pug-mixins/title/title.scss";

.home {
    position: relative;
    display: grid;
    grid-template-rows: 80px auto 250px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    &__img1 {
        position: absolute;
        left: 30%;
        top: 30%;
        width: 30%;
        height: 30%;
        background-image: url("../../../src/components/HomeContent/img/logo1.svg");
        background-size: 100% 100%;
        margin: 20px;
        z-index: 1;

        @media screen and (max-height: $screen-sm) {
            display: none;
        }
    }

    &__img2 {
        position: absolute;
        left: 10%;
        top: 18%;
        width: 40%;
        height: 40%;
        background-image: url("../../../src/components/HomeContent/img/jupiter.svg");
        background-size: 100% 100%;
        margin: 20px;

        @media screen and (max-height: $screen-sm) {
            display: none;
        }
    }

    &__img3 {
        position: absolute;
        right: 10%;
        top: 20%;
        width: 40%;
        height: 30%;
        max-height: 250px;
        background-image: url("../../../src/components/HomeContent/img/planet3.png");
        background-size: contain;
        background-repeat: no-repeat;
        margin: 20px;

        @media (min-width: $screen-lg) {
            top: 30%;
            right: 10%;
        }

        @media screen and (max-height: $screen-sm) {
            display: none;
        }
    }

    &__button-container {
        display: grid;
        grid-gap: 25px;
        margin-top: 30px;

        @media (max-width: $screen-md) {
            margin-top: 0;
        }
    }
}