@import "src/pug-mixins/title/title.scss";

.home {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__img {
        width: 200px;
        height: 200px;
        background-image: url("./img/logo.webp");
        background-size: cover;
        margin-top: 20px;
    }

    &__button {
        width: 150px;
        height: 150px;
        background-image: url("./img/go.webp");
        background-size: cover;
        margin-top: 20px;
    }
}