include /pug-mixins/title/title.pug
+title(title)
include /pug-mixins/leaderboard/leaderboard.pug
+leaderboard()
.paginator(style='display: flex')
    include /pug-mixins/button/button.pug
    +button('1', 'secondary')
    include /pug-mixins/button/button.pug
    +button('2', 'secondary')