.left-board-item {
    position: absolute;
    background-size: cover;

    @media all and (max-width: $screen-lg) {
        display: none;
    }

    &-planet {
        left: 5%;
        z-index: 1;
        width: 400px;
        height: 400px;
        background-image: url("./img/planet.svg");
        filter: brightness(0.2);
    }

    &-rocket {
        z-index: 3;
        left: 40%;
        top: 50%;
        width: 100px;
        height: 100px;
        background-image: url("./img/rocket.svg");
        filter: brightness(0.4);
    }

    &-black-hole {
        z-index: 2;
        top: 25%;
        left: 20%;
        width: 400px;
        height: 400px;
        background-image: url("./img/black-hole.svg");
        filter: brightness(0.3);
    }
}