.rotate {
    &__fast-clockwise {
        animation-name: cog;
        animation-duration: 100s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        }

        @keyframes cog {
        from {
            transform:rotate(0deg);
        }
        to {
            transform:rotate(360deg);
        }
    }

    &__middle-no-clockwise {
        animation-name: cog2;
        animation-duration: 150s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        }

        @keyframes cog2 {
        from {
            transform:rotate(360deg);
        }
        to {
            transform:rotate(0deg);
        }
    }

    &__slow-clockwise {
        animation-name: cog3;
        animation-duration: 200s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        }
     
        @keyframes cog3 {
        from {
            transform:rotate(0deg);
        }
        to {
            transform:rotate(360deg);
        }
    }

    &__fast-around {
        animation-name: cog4;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        }

        @keyframes cog4 {
        from {
            transform:rotate(0deg) translateX(180%) rotate(0deg);
        }
        to {
            transform:rotate(360deg) translateX(180%) rotate(-360deg);
        }
    }

    &__half {
        animation-name: cog5;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        }

        @keyframes cog5 {
        0% {
            transform:rotate(0deg);
        }
        50% {
            transform:rotate(10deg);
        }

        100% {
            transform: rotate(0deg);
        }
    }
}